<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" asp-fallback-test-class="visually-hidden" asp-fallback-href="~/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" asp-fallback-test="window.bootstrap && window.bootstrap.Modal" asp-fallback-src="~/bootstrap.bundle.min.js"></script>
</head>
<body>
    <main>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <span class="fs-4">Wholesaler Panel</span>
                </a> <ul class="nav nav-pills">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Products" asp-action="Index" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Deliveries" asp-action="Index" class="nav-link">Deliveries</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Customers" asp-action="Index" class="nav-link">Customers</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Orders" asp-action="Index" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register New User</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="mx-3">
        @RenderBody()
    </div>
</main>

<div id="toast">
    @if (TempData["ErrorMessage"] is not null)
    {
        <partial name="_errorToastPartialView"></partial>
    }

    @if (TempData["InfoMessage"] is not null)
    {
        <partial name="_infoToastPartialView"></partial>
    }
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {
    const infoToast = document.getElementById('infoToast');
    if(infoToast)
    {
        const itoast = new bootstrap.Toast(infoToast);
        itoast.show();
    }
    

    const errorToast = document.getElementById('errorToast');
    if (errorToast)
    {
        const etoast = new bootstrap.Toast(errorToast);
        etoast.show();
    }
    
    });
</script>
        
@RenderSection("Scripts", required: false)
</body>
</html>
