@{
    ViewBag.Title = "Manage Accounts";
}

<h1>Manager Accounts</h1>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link">Register New Account</a></li>
        </ul>
    </header>
</div>
