@model ResetPasswordDTO
@{
    ViewBag.Title = "Set Password";
}

<div class="card shadow-sm max-width-300 mx-auto my-5">
    <div class="card-header bg-light py-3 text-center border-bottom-0">
        <h1 class="h3 mb-0 text-dark fw-bold">Set Password</h1>
        <p class="text-muted small mb-0 mt-1">Please enter a new password for your account</p>
    </div>

    <div class="card-body p-4 pt-2">
        <partial name="_formValidationErrorsPartialView" />

        <form asp-controller="Account" asp-action="SetPassword" method="post">

            <input type="hidden" asp-for="Token" />

            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-medium text-muted">Email</label>
                <div class="input-group">
                    <span class="input-group-text bg-light text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </span>
                    <input asp-for="Email" class="form-control" placeholder="Enter email" autocomplete="email" />
                </div>
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label fw-medium text-muted">Password</label>
                <div class="input-group">
                    <span class="input-group-text bg-light text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                        </svg>
                    </span>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Enter password" autocomplete="current-password" />
                </div>
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label fw-medium text-muted">Confirm Password</label>
                <div class="input-group">
                    <span class="input-group-text bg-light text-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                        </svg>
                    </span>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm password" autocomplete="current-password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 fw-medium">
                Reset Password
            </button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}

