<h1>Administrator Dashboard</h1>

<br />
<a asp-controller="Account" asp-action="Index" class="nav-link">Manage Accounts</a><br />
<a asp-controller="Logging" asp-action="AuditLogs" class="nav-link">Browse Audit Logs</a><br />
<a asp-controller="Logging" asp-action="InventoryLogs" class="nav-link">Browse Inventory Logs</a><br />